<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/house"
        android:label="@string/app_name"
        android:roundIcon="@drawable/house"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentAppAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name=".Activity.ListInfoActivity"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar"
            android:exported="false" />
        <activity
            android:name=".Activity.Landlord.FORMLIST.QuanLyNguoiThue"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.LichHenActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.TenantCommentActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.CommentActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.MessageActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.HoaDon.InfoBillTenantActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Tenant.HopDong.InfoContractActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.Detail_info_tim_o_ghep_Activity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.DetailInfoFindHouseActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.TieuChiTim.FormTieuChiTimActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.BaiYeuThich.ListBaiYeuThichActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.HopDong.ListHopDongActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.BaiDang.ListBaiDangTimOGhepActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.BaiDang.ListBaiDangTimPhongActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.BaiDang.MainBaiDangActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.BaiDang.FormTimNguoiOGhepActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.BaiDang.FormTimPhongActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Fragment.Landlord.ListIssueActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Fragment.Landlord.QuanLyHoaDon.ListHoaDonActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMLIST.QuanLyHoaDonActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMLIST.QuanLyHopDongActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Tenant.DetailInfoRoomActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMLIST.QuanLtBaiDangActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMLIST.QuanLyPhongTroActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMADD.FormBillActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMADD.FormContractActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMADD.FormTenantActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMADD.FormToaNhaActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMADD.FormPostActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.Landlord.FORMADD.FormAddRoomHouseActivity"
            android:exported="false"
            android:theme="@style/Theme.RentAppAndroid.DarkActionBar" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>